html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
       background-image: url("image/pink.jpg ");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
     position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    background-color: rgba(255, 192, 203, 0.8);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

nav button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background-color: #555;
}

.section {
    min-height: 100vh;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home img {
    width: 180px;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 15px;
}

.home h1 {
    color: #333;
}

.about-box {
     background: rgba(255, 255, 255, 0.9);
    border: 2px solid #333;
    border-radius: 15px;
    padding: 25px;
    max-width: 900px;
}

.about {
    display: flex;
    gap: 20px;
    align-items: center;
}

.about img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.about p {
    text-align: justify;
    line-height: 1.6;
}

.contact {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.contact a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.project-box {
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
}

.project-box a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.project-box a:hover {
    background-color: #555;
}

.education-box {
     background: rgba(255, 255, 255, 0.9);
    border: 2px solid #333;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
}