body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

h1 {
    color: #333;

}

h2 {
    color: #555;
}

button{
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;

}


.about img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.about{
    display: flex;
    align-items: center;
    gap: 20px;
}

.about p {
    text-align: justify;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom:20px;
}

nav button {
    margin-left: 10px;

}